<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <title></title>
    <script src="static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="static/js/main.js"></script>
    <link rel="stylesheet" href="static/bower_components/font-awesome/css/font-awesome.min.css">
    <script src="static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>
<body>

</body>
</html>